## Scope
---
- part of the program where an object pr name may be accessible.
    1. Global scope: defined in the main body of a script
    2. Local scope: defined inside a function
    3. Built-in scope: names in the pre-defined built-ins module. Example: print(), sum()

### Local scope: new_val1
---
Only works inside a function square
Triggers error out of a function.

In [4]:
def square(value):
    new_val1 = value **2
    return new_val1

square(3)

9

In [5]:
new_val1

NameError: name 'new_val1' is not defined

### Global scope: new_val2
---

In [7]:
new_val2 = 10

def square(value):
    new_val2 = value **2
    return new_val2

square(3)

9

In [8]:
new_val2

10

In [9]:
new_val3=10

def square(value):
    global new_val3
    new_val3 = new_val3 **2
    return new_val3

square(3)

100

In [10]:
new_val3

100

In [11]:
def func1():
    num = 3
    print(num)

In [16]:
func1()

3

In [13]:
num

NameError: name 'num' is not defined

In [17]:
def func2():
    global num
    double_num = num * 2
    num = 6
    print(double_num)

In [18]:
func2()

NameError: name 'num' is not defined

In [19]:
import builtins

In [20]:
dir(builtins)

['ArithmeticError',
 'AssertionError',
 'AttributeError',
 'BaseException',
 'BlockingIOError',
 'BrokenPipeError',
 'BufferError',
 'BytesWarning',
 'ChildProcessError',
 'ConnectionAbortedError',
 'ConnectionError',
 'ConnectionRefusedError',
 'ConnectionResetError',
 'DeprecationWarning',
 'EOFError',
 'Ellipsis',
 'EnvironmentError',
 'Exception',
 'False',
 'FileExistsError',
 'FileNotFoundError',
 'FloatingPointError',
 'FutureWarning',
 'GeneratorExit',
 'IOError',
 'ImportError',
 'ImportWarning',
 'IndentationError',
 'IndexError',
 'InterruptedError',
 'IsADirectoryError',
 'KeyError',
 'KeyboardInterrupt',
 'LookupError',
 'MemoryError',
 'ModuleNotFoundError',
 'NameError',
 'None',
 'NotADirectoryError',
 'NotImplemented',
 'NotImplementedError',
 'OSError',
 'OverflowError',
 'PendingDeprecationWarning',
 'PermissionError',
 'ProcessLookupError',
 'RecursionError',
 'ReferenceError',
 'ResourceWarning',
 'RuntimeError',
 'RuntimeWarning',
 'StopAsyncIteration',
 'StopIteration',
 'SyntaxError',
 'SyntaxWarning',
 'SystemError',
 'SystemExit',
 'TabError',
 'TimeoutError',
 'True',
 'TypeError',
 'UnboundLocalError',
 'UnicodeDecodeError',
 'UnicodeEncodeError',
 'UnicodeError',
 'UnicodeTranslateError',
 'UnicodeWarning',
 'UserWarning',
 'ValueError',
 'Warning',
 'ZeroDivisionError',
 '__IPYTHON__',
 '__build_class__',
 '__debug__',
 '__doc__',
 '__import__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'abs',
 'all',
 'any',
 'ascii',
 'bin',
 'bool',
 'breakpoint',
 'bytearray',
 'bytes',
 'callable',
 'chr',
 'classmethod',
 'compile',
 'complex',
 'copyright',
 'credits',
 'delattr',
 'dict',
 'dir',
 'display',
 'divmod',
 'enumerate',
 'eval',
 'exec',
 'filter',
 'float',
 'format',
 'frozenset',
 'get_ipython',
 'getattr',
 'globals',
 'hasattr',
 'hash',
 'help',
 'hex',
 'id',
 'input',
 'int',
 'isinstance',
 'issubclass',
 'iter',
 'len',
 'license',
 'list',
 'locals',
 'map',
 'max',
 'memoryview',
 'min',
 'next',
 'object',
 'oct',
 'open',
 'ord',
 'pow',
 'print',
 'property',
 'range',
 'repr',
 'reversed',
 'round',
 'set',
 'setattr',
 'slice',
 'sorted',
 'staticmethod',
 'str',
 'sum',
 'super',
 'tuple',
 'type',
 'vars',
 'zip']

## Nested functions
----

### When we have a function inner defined within another function outer:

1. Python searches the local scope of the function inner, then if it doesn't find x, it searches the scope of the function outer

2. Outer function is called an enclosing function because it encloses the function inner.

3. If Python can't find x in the scope of the enclosing function(outer), it only then searches the global scope and then the built-in scope.

In [21]:
def mod2plus5(a,b,c):
    def inner(x):
        return x %2 +5
    return(inner(a),inner(b),inner(c))

In [22]:
mod2plus5(1,2,4)

(6, 5, 5)

In [24]:
def raise_val(n):
    def inner(x):
        raised = x ** n
        return raised
    
    return inner

In [31]:
square = raise_val(2)
print(square(3))

9

#### My thinking: Going to inner first and approaching to outer

## Default and flexible arguments
----

### Add a default argument

In [37]:
def power(number, pow=4): # setting default argument
    new_value = number ** pow
    return new_value

In [38]:
power(3)

81

In [39]:
power(3,2)

9

### 1. Flexible arguments: *args
--- 
When you are not sure how many arguments I am going to use.

In [40]:
def add_all(*args):
    # Initialize sum (no argument)
    sum_all =0
    
    # Accumulate the sum
    for num in args:
        sum_all += num
    
    return sum_all

In [41]:
add_all()

0

In [42]:
add_all(1,3,4,5,10)

23

### 2. Flexible arguments: **kwargs (key words arguments)
---
Arguments preceded by identifiers

In [51]:
print("So", "fun", sep='\n ')

So
 fun

In [55]:
def print_all(**kwargs):
    
    for key, value in kwargs.items():
        print(key + ": " + value)

In [59]:
print_all(key='Sasha')

key: Sasha

## Lambda functions
---

In [60]:
raise_to_power = lambda x,y: x**y
raise_to_power(3,2)

9

- Function map takes <strong>two arguments</strong>: <strong>map(func, seq)</strong>
- map() applies the function to All elements in the sequence

In [61]:
nums = [2,6,3,7,19]
square_all = map(lambda num:num **2, nums)
print(square_all)

<map object at 0x7ffc2c82a520>

In [62]:
print(list(square_all))

[4, 36, 9, 49, 361]

In [64]:
fellowship = ['frodo', 'samwise', 'merry', 'pippin', 'aragorn', 'boromir', 'legolas', 'gimli', 'gandalf']

# Use filter() to apply a lambda function over fellowship: result
# The lambda function should check if the 
# number of characters in a string member is greater than 6; use the len() function to do this. 
result = filter(lambda member:len(member) >6 , fellowship)

## Error handling
---
1. Exceptions: Caught during execution
2. Catch exceptions with <strong>try-except</strong> clause

In [66]:
def sqrt(x):
    try:
        return x ** 0.5
    except:
        print('x must be an integer or float')

In [67]:
sqrt(7)

2.6457513110645907

In [69]:
sqrt('k')

x must be an integer or float

In [71]:
def sqrt(x):
    try:
        return x ** 0.5
    except TypeError:
        print('x must be an integer or float')

In [74]:
print(sqrt('k'))

x must be an integer or float
None

In [75]:
def sqrt(x):
    if x <0:
        raise ValueError('x must be non-negative')
    try:
        return x ** 0.5
    except TypeError:
        print('x must be an integer or float')

In [76]:
sqrt(-10)

ValueError: x must be non-negative

In [77]:
len('There is a beast in every man and it stirs when you put a sword in his hand.')

76

## Iterables
1. Examples: lists, strings, dictionaries, file connections
2. An object with an associated iter() method
3. Applying iter() to an iterable creates an iterator

## Iterator
- Produces next value with next()
----

In [82]:
word ='Da'
it =iter(word)
next(it)

'D'

In [83]:
next(it)

'a'

In [84]:
small_value = iter(range(3))

# Print the values in small_value
print(next(small_value))
print(next(small_value))
print(next(small_value))

0
1
2

In [85]:
family = iter('I love Family!')
print(next(family))
print(next(family))
print(next(family))
print(next(family))
print(next(family))
print(next(family))
print(next(family))
print(next(family))
print(next(family))

I

l
o
v
e

F
a

### Iterating with a for loop
-----

In [78]:
for letter in 'I love Family!':
    print(letter)

I

l
o
v
e

F
a
m
i
l
y
!

### Using enumerate()
----
- It will allow us to add a counter numbers(index) to any iterable.

In [86]:
korean = ['ㄱ','ㄴ','ㄷ','ㄹ','ㅁ','ㅂ']
e= enumerate(korean)
print(type(e))

<class 'enumerate'>

In [87]:
e_list = list(e)

In [88]:
print(e_list)
# Creating tuple sets with index

[(0, 'ㄱ'), (1, 'ㄴ'), (2, 'ㄷ'), (3, 'ㄹ'), (4, 'ㅁ'), (5, 'ㅂ')]

In [94]:
print(list(enumerate(['ㄱ','ㄴ','ㄷ','ㄹ','ㅁ','ㅂ'])))

[(0, 'ㄱ'), (1, 'ㄴ'), (2, 'ㄷ'), (3, 'ㄹ'), (4, 'ㅁ'), (5, 'ㅂ')]

In [95]:
korean = ['ㄱ','ㄴ','ㄷ','ㄹ','ㅁ','ㅂ']
for index, char in enumerate(korean):
    print(index, char)

0 ㄱ
1 ㄴ
2 ㄷ
3 ㄹ
4 ㅁ
5 ㅂ

In [96]:
for index, char in enumerate(korean, start=1):
    print(index, char)

1 ㄱ
2 ㄴ
3 ㄷ
4 ㄹ
5 ㅁ
6 ㅂ

### Using zip()
----
- Zipping them together creates a zip object which is an iterator of tuples. 
- We can turn this zip object into a list and print the list.

In [97]:
korean = ['ㄱ','ㄴ','ㄷ','ㄹ','ㅁ','ㅂ']
alphabet= ['a','b','c','d','e','f']

z = zip(korean,alphabet)
print(type(z))

<class 'zip'>

In [98]:
z_list= list(z)
print(z_list)

[('ㄱ', 'a'), ('ㄴ', 'b'), ('ㄷ', 'c'), ('ㄹ', 'd'), ('ㅁ', 'e'), ('ㅂ', 'f')]

In [101]:
for z1, z2 in zip(korean,alphabet):
    print(z1, z2)

ㄱ a
ㄴ b
ㄷ c
ㄹ d
ㅁ e
ㅂ f

In [103]:
z = zip(korean,alphabet)
print(*z)

('ㄱ', 'a') ('ㄴ', 'b') ('ㄷ', 'c') ('ㄹ', 'd') ('ㅁ', 'e') ('ㅂ', 'f')

## Loading data in chunks
---
- There can be too much data to hold in memory
- Solution: load data in chunks:
    1. pandas function: read_csv
    2. specify the chunk: chunk_size

In [20]:
#Example: 
import pandas as pd

result =[]

for chunk in pd.read_csv('data/tmdb_5000_movies.csv', chunksize=10):
    for entry in chunk['original_title']:
        if len(entry) < 5:
            result.append(entry)
print(result)

['2012', 'Up', 'Hugo', 'Thor', 'Bolt', 'Pan', 'Troy', 'Hulk', 'Home', 'Salt', 'Noah', 'X2', 'Ali', 'Epic', 'Rio', 'Fury', 'Nine', 'Cars', 'xXx', 'Hook', 'Wolf', 'Doom', '天將雄師', 'Hop', '300', 'Antz', 'RED', 'Joy', 'Edtv', 'Ted', 'Jade', 'Dune', 'Argo', '英雄', 'Lucy', '42', 'Ray', 'JFK', 'Paul', '8MM', 'Rent', '投名狀', '一代宗師', 'Rush', '葉問3', '21', 'TMNT', 'Bait', 'Zoom', 'Reds', 'Safe', 'Elf', '1941', '디워', 'Babe', 'Blow', '9', 'Fled', '辛亥革命', 'W.', 'Viy', 'War', 'Her', '十月圍城', '1408', 'Max', 'Milk', '功夫', 'Envy', '長江七號', '風暴', '逃出生天', 'Big', 'Fame', 'ATL', 'They', 'Roar', 'Good', 'Zulu', '卧虎藏龙', '해운대', 'Mama', 'Wild', 'Hoot', '新宿事件', '剑雨', 'Woo', 'Room', 'Dick', '54', 'Womb', 'Jaws', '十面埋伏', '괴물', '2046', 'Duma', '兔侠传奇', '三城记', 'O', 'LOL', 'Mud', 'कृष', '少林足球', 'PCU', '곡성', '실미도', 'Prom', 'Fido', 'アキラ', '非常幸运', '紅番區', 'Narc', 'Juno', 'Dope', 'Ca$h', 'Z 風暴', 'Go', 'Bats', '一個好人', 'Emma', 'Iris', 'R100', 'Race', 'UHF', 'Made', 'Moon', 'Spun', '放‧逐', 'Paa', 'Joe', '1776', '2:13', 'Adam', '归来', 'Tusk', '올드보이', 'Ida', 'Hud', 'Fuel', 'Eden', '醉拳二', 'வாலு', 'May', 'Yes', 'Kids', 'Saw', 'Q', 'Slam', 'Fiza', 'Heli', 'Hits', '1982', 'Bled', 'Rize', '七人の侍', 'Cube', 'Exam', 'Rust', 'Ink', 'Burn', 'Drei', 'H.', 'Once', 'Pi', 'キュア', 'Bang']

## List comprehensions
----
- collapse for loops for building lists into a <strong>single line</strong>
- Components:
    1. Iterable (next by in)
    2. Iterator variable (next by for)
    3. Output expression (first statement)

### [[output expression] for iterator variable in iterable]

In [9]:
nums = [12,13,14,16,18,20]
new_nums=[]
for num in nums:
    new_nums.append(num +1)
print(new_nums)

[13, 14, 15, 17, 19, 21]

In [21]:
new_nums_list_comprehensions = [num + 1 for num in nums]
print(new_nums_list_comprehensions)

[13, 14, 15, 17, 19, 21]

In [25]:
pairs = [(num1, num2) for num1 in range(0,3) for num2 in range(5,8)]
print(pairs)

[(0, 5), (0, 6), (0, 7), (1, 5), (1, 6), (1, 7), (2, 5), (2, 6), (2, 7)]

In [30]:
# Create a 5 x 5 matrix using a list of lists: matrix
matrix = [[col for col in range(0,5)] for row in range(0,5)]
    
    

# Print the matrix
for row in matrix:
    print(row)

[0, 1, 2, 3, 4]
[0, 1, 2, 3, 4]
[0, 1, 2, 3, 4]
[0, 1, 2, 3, 4]
[0, 1, 2, 3, 4]

In [26]:
[num ** 2 for num in range(10) if num %2==0]

[0, 4, 16, 36, 64]

In [27]:
[num ** 2 if num %2==0 else 0 for num in range(10)]

[0, 0, 4, 0, 16, 0, 36, 0, 64, 0]

## Dict comprehensions
----
- Create dictionaries
- Use {} instead of []

In [29]:
pos_neg = {num: -num for num in range(7)}
print(pos_neg)

{0: 0, 1: -1, 2: -2, 3: -3, 4: -4, 5: -5, 6: -6}

## Generator expressions
----
- It is like a list comprehension, but it returns a generator object

In [31]:
# Use () instead of []
(2* num for num in range(7))

In [32]:
result = (num for num in range(5))
for num in result:
    print(num)

0
1
2
3
4

In [39]:
# Called lazy evaluation: 
#1. the evaluation of the expression is delayed until its value is needed. 
#2. This can help a great deal when working with extremely large sequences as you don't want to store the entire list in memory 
result = (num for num in range(5))
print(next(result))

0

In [35]:
print(next(result))

1

In [36]:
print(next(result))

2

In [37]:
print(next(result))

3

In [38]:
print(next(result))

4

### Generator functions
---
- Produces generator objects when called
- Defined like a regular function : def
- Yields a sequence of values instead of returning a single value : yield

In [40]:
def num_sequence(n):
    i = 0
    while i <n:
        yield i
        i += 1

In [41]:
num_sequence(5)

In [44]:
list(num_sequence(5))

[0, 1, 2, 3, 4]

In [46]:
# Create generator object: result
result = (num for num in range(0,31))

# Print the first 5 values
print(next(result))
print(next(result))
print(next(result))
print(next(result))
print(next(result))

0
1
2
3
4

In [48]:
# Print the rest of the values
for value in result:
    print(value)

6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30

In [49]:
# Create a list of strings
lannister = ['cersei', 'jaime', 'tywin', 'tyrion', 'joffrey']

# Define generator function get_lengths
def get_lengths(input_list):
    """Generator function that yields the
    length of the strings in input_list."""

    # Yield the length of a string
    for person in input_list:
        yield len(person)

# Print the values generated by get_lengths()
for value in get_lengths(lannister):
    print(value)

6
5
5
6
7

In [61]:
df= pd.read_csv('data/tmdb_5000_movies.csv', chunksize=5)

In [63]:
type(df)

pandas.io.parsers.TextFileReader

In [66]:
next(df)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
5,258000000,"[{""id"": 14, ""name"": ""Fantasy""}, {""id"": 28, ""na...",http://www.sonypictures.com/movies/spider-man3/,559,"[{""id"": 851, ""name"": ""dual identity""}, {""id"": ...",en,Spider-Man 3,The seemingly invincible Spider-Man goes up ag...,115.699814,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-01,890871626,139,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,The battle within.,Spider-Man 3,5.9,3576
6,260000000,"[{""id"": 16, ""name"": ""Animation""}, {""id"": 10751...",http://disney.go.com/disneypictures/tangled/,38757,"[{""id"": 1562, ""name"": ""hostage""}, {""id"": 2343,...",en,Tangled,When the kingdom's most wanted-and most charmi...,48.681969,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2010-11-24,591794936,100,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,They're taking adventure to new lengths.,Tangled,7.4,3330
7,280000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://marvel.com/movies/movie/193/avengers_ag...,99861,"[{""id"": 8828, ""name"": ""marvel comic""}, {""id"": ...",en,Avengers: Age of Ultron,When Tony Stark tries to jumpstart a dormant p...,134.279229,"[{""name"": ""Marvel Studios"", ""id"": 420}, {""name...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2015-04-22,1405403694,141,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,A New Age Has Come.,Avengers: Age of Ultron,7.3,6767
8,250000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://harrypotter.warnerbros.com/harrypottera...,767,"[{""id"": 616, ""name"": ""witch""}, {""id"": 2343, ""n...",en,Harry Potter and the Half-Blood Prince,"As Harry begins his sixth year at Hogwarts, he...",98.885637,"[{""name"": ""Warner Bros."", ""id"": 6194}, {""name""...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2009-07-07,933959197,153,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,Dark Secrets Revealed,Harry Potter and the Half-Blood Prince,7.4,5293
9,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.batmanvsupermandawnofjustice.com/,209112,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 7002...",en,Batman v Superman: Dawn of Justice,Fearing the actions of a god-like Super Hero l...,155.790452,"[{""name"": ""DC Comics"", ""id"": 429}, {""name"": ""A...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2016-03-23,873260194,151,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,Justice or revenge,Batman v Superman: Dawn of Justice,5.7,7004